<h2>Add a celebrity</h2>

{{#if message }}
    <p>{{message}}</p>
{{/if}}

<form action="/celebrities" method="POST">
    <label>Name:
        <input type="text" name="name" placeholder="Name" />
    </label>
    <label>Occupation:
        <input type="text" name="occupation" placeholder="Occupation" />
    </label>
    <label>Catch phrase:
        <input type="text" name="catchPhrase" placeholder="Catch phrase" />
    </label>
    <button type="submit">Add new celebrity!</button>
</form>
