<h2>About</h2>

<ul>
    <li class="celebrity-name">Name: {{name}}</li>
    <li class="celebrity-name">Occupation: {{occupation}}</li>
    <li class="celebrity-name">Catch phrase: {{catchPhrase}}</li>
</ul>

<button onclick="history.back()">Previous</button>
<a href="/celebrities/{{_id}}/edit">Modify</a>
